<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="baseballApp">
<head>
    <title>Rangers Dashboard</title>
    <script src="../../Scripts/lib/jquery-2.1.0.min.js"></script>

    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/site.css" rel="stylesheet" />
        
    <style>
        body{
            background:beige;
        }
        #playersList{
            width:10%;
            float:left;

        }
        #righter{
            width:80%;
            float:left;
        }
        img
        {
            //opacity:0;
        }
    </style>
</head>

<body class="margin-top" data-ng-controller="statisticsController">

    <img
    data-ng-repeat="t in teams"
    class="animate-team"
    data-ng-src="../../Content/images/teams/{{t.name + '.png'}}"
    alt="{{t.name}}"
    data-ng-click="loadPlayers(t.id)" />

    <div id="playersList">
        <a href="#"
            data-ng-repeat="p in players | filter: shouldDisplayPlayer | orderBy: 'name'"
            data-ng-class="{'list-group-item animate-repeat': true, 'active': isSelectedPlayer(p)}"
            data-ng-click="selectPlayer(p)">{{p.name}}
        </a>
    </div>

                <div id="righter" data-ng-show="players.length > 0" class="panel panel-default margin-top show-hide-animation">
                    <div class="panel-heading">

                        <div class="row">

                            <div class="col-sm-9">
                                <h3 class="panel-title">Hits Statistics</h3>
                            </div>

                            <div class="col-sm-3">

                                <select class="form-control pull-right"
                                    data-ng-disabled="years.length == 0"
                                    data-ng-model="year"
                                    data-ng-options="y for y in years"
                                    data-ng-change="selectYear()">
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="panel-body">
                        <div class="hit-bars" data="filteredStatistics" label="name"></div>
                    </div>
                </div>
        
  <script>
      $(document).ready(function () {
          var imgWidth = $(window).width() / 31;
          $('img').width(imgWidth);
          //$('img').each(function (i) {
          //    $(this).delay(50 * i).fadeTo(1000, 1, done);
          //});

          $('img').each(function (i) {
              $(this).delay((i++) * 50).fadeTo(1000, 1);
          });
      });
  </script>



    <!--<script src="../../Scripts/lib/bootstrap.min.js"></script>-->

    <script src="../../Scripts/lib/d3.v3.js"></script>
    <script src="../../Scripts/lib/angular.js"></script>
    <script src="../../Scripts/lib/angular-resource.js"></script>
    <script src="../../Scripts/lib/angular-animate.js"></script>

    <script src="../../Scripts/app/baseBallApp.js"></script>
    <script src="../../Scripts/app/animations.js"></script>
    <script src="../../Scripts/app/hitBarsDirective.js"></script>
    <script src="../../Scripts/app/services.js"></script>
</body>
</html>
